/* this keeps the footer at the bottom of the page */
html,
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
body > footer {
    margin-top: auto;
}

.modal-wrap {
   
}


.button  {
    background-color: rgb(108, 22, 108);
    color: white;
}