/* this keeps the footer at the bottom of the page */
html,
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
body > footer {
    margin-top: auto;
}

.button  {
    background-color: rgb(171, 58, 171);
    color: white;
}

/* poster in result box*/
.smallPoster{
    background: white;
    background-size: cover no-repeat center center;
    z-index: 1;
    opacity: .7;
    mix-blend-mode: screen;
    border-radius: 10%;
}

/* hover effect start*/
.gradientDiv{
    background: white;
    background: -moz-linear-gradient(-45deg, #000000 0%, #000000 25%, #1e539e 50%, #ff3083 75%, #7800a8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #000000 0%,#000000 25%,#1e539e 50%,#ff3083 75%,#7800a8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #000000 0%,#000000 25%,#1e539e 50%,#ff3083 75%,#7800a8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-size: 400% 400%;
    background-repeat: no-repeat;
    display: inline-block;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: relative;
    cursor: pointer;
    transition: .5s all;
    border-radius: 10%;
    width: 300px;
    padding: 25px;
}
.gradientDiv:hover{
    background-position: 100% 100%;
}

/* hover effect end */

/* dark mode styles begin */
body {
    background-color: white;
    color: black;
  }
  
  .dark-mode {
    background-color: black;
    color: white;
  }


 /* end dark mode styles */

  button {
    background-color: #6c676b; 
    border: none;
    box-sizing: border-box;
    color: white;
    padding: 15px 32px;
    display: inline-block;
    font-size: 10px;
    text-align: center;
    max-width: 40px;
    max-height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
  } 

 